{% extends "base.html.twig" %}

{% block title %}
    Page de {{ product.name }}
{% endblock %}

{% block body %}

    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Acceuil</a></li>
    <li class="breadcrumb-item"><a href="#">{{product.category.name}}</a></li>
    <li class="breadcrumb-item active">{{product.name}}</li>
    </ol>
    <h1>Page de {{ product.name }} ({{product.price / 100}})€</h1> 
    <div class="row">
        <div class="col-4">
            <img class="img-fluid" src="{{product.mainPicture}}" alt="img">
        </div>
        <div class="col">
            <span class="badge rounded-pill bg-info">{{product.category.name}}</span>
            <p>{{product.shortDescription}}</p>
            <a href="#" class="btn btn-success">
                <i class="fa fa-shopping-cart"></i>
                Ajouter au panier
            </a>
        </div>
    </div>
{% endblock %}